section
{
    background-image: linear-gradient(yellow, green);
    height: 100vh;
}
.follow a
{
    padding: 10px;
    color: black;
    font-weight: bold;
}
@media screen and (max-width:600px) 
{

    .follow a
{
    padding: 10px;
    color: black;
    font-weight: bold;
}
p
{
    padding: 10px;
}  
}